 .pic-text{
   display: flex;
   flex-direction: column;
   background-color: var(--grey);
   border-radius: 30px;
   justify-self: center;
   width: 70%;
   height: auto;
 }

 section {
   align-self: center;
   align-items: center;
   justify-self: center;
   width: 50%;
 }

 #inrikting-text{
   justify-self: center;
   background: var(--grey);
   margin-left: 2%;
   margin-right: 2%;
   border-radius: 30px;
 }

 h1{
   justify-self: center;
 }

 @media screen and (min-width: 2000px)  {

   section {
      width: 50%;
   }

   .pic-text {
      width: 80%;
   }

 }



