h1{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 12%;
}

.pic-text{
    display: flex;
    flex-direction: row;
    width: 70%;
    background-color: var(--grey) ;
    border-radius: 40px;
}

#pic-text-samuel {
    margin-bottom: 25px;
    margin-left: 12%;
}

#pic-text-rebecka {
    width: 60%;
    margin-left: 26%;
}

#pic-samuel{
    width: 70%;
}

#pic-rebecka{
    width: 70%;
}

/* Causing trouble inside the nav-bar */

div p {
    margin-left: 50px;
    margin-right: 50px; 
}

.information-section{
    right: 0%;
}

/* General paragraph styling */
.styled-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Just for testing */ 
@media screen and (max-width: 1920px) {
    #pic-text-rebecka {
        width: 60%;
        margin-left: 26%;
    }
    #pic-text-samuel {
        margin-bottom: 25px;
        margin-left: 12%;
    }
    
}